.header-container {
    position: relative;
    width: 100%;
    padding: 1rem;
}

.title-container {
    position: relative;
    left: 25%;
    width: 50%;

    text-align: center;
}

.github-link {
    display: block;
}