.noteListItem {
    display: flex;
    padding: .5rem;
    border-bottom: 1px solid black;

    background-color: pink;
}

.pointImg {
    width: 2rem;
    height: 2rem;

    cursor: pointer;
}

.noteText {
    flex: 2;
    margin-left: .5rem;
}