.app-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    font-size: 1rem;
}

.header-container {
    width: 100%;
}

.app-content-container {
    flex: 2;
    display: flex;
}

.mapView-container {
    flex: 2;
    border: 1px solid black;
}

.notesView-container {
    display: flex;
    flex-direction: column;
    width: 25rem;
    border: 1px solid black;
}

.note-creator {
}

.close-button-container {
    width: 100%;
    padding: .5rem;
}

.close-button {
    float: right;
    border: none;

    background: none;

    cursor: pointer;
}

.form-container {
    clear: both;
}

.notes-list {
    flex: 2;
    overflow-y: auto;
}