.app-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header-container {
    width: 100%;
}

.app-content-container {
    flex: 2;
    display: flex;

    background-color: red;
}

.mapView-container {
    flex: 2;

    background-color: green;
}

.notesView-container {
    width: 25rem;
    background-color: purple;
}

.note-creator {

}

.notes-list {

}